<h1>Let's Play</h1>
<h4 class="text-success">genre:<%= @genre.name %></h4>

<% section = 0 %>
<% selects = [] %>


<ul id="selection" class="list-group" style="list-style: none;">
  <% @questions.each do |question| %>
    <% section += 1 %>
    <li data-id="<%= question.id %>" class="list-group-item m-1"><%= section %>. <%= question.name %><li>
  <% end %>
  </ul>
<br>
<input type="button" id="id01" value="set Array" onclick="getArray();">

<script>
  var selection = document.getElementById('selection');
  var sortable = Sortable.create(selection);

  function getArray(){
    var selectlist = sortable.toArray();
    const newselectlist = selectlist.filter(n => n !== "1oj" && n !== "1mr");
    console.log(newselectlist);
  }
</script>

